<!DOCTYPE html>
<html ng-app="fnv">
    <head>
        <title>Fruit and Veggies</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
        <script src="js/fruits_and_veggies_test.js"></script>
        <script src="js/app.js"></script>
    </head>
    <body ng-controller="sort">
        <div class="container">
            <h1>Fruit and Veggies</h1>
            <div class="row">
                <div class="col-sm-4 fruit">
                    Fruits
                </div>
                <div class="col-sm-4 unsorted">
                    Unsorted
                    <ul>
                      <li ng-repeat="item in unsorted">
                         <button class=" btn btn-info" ng-click="moveLeft()"><</button>
                         {{item}}
                         <button class=" btn btn-success" ng-click="moveRight()">></button>
                      </li>
                    </ul>
                </div>
                <div class="col-sm-4 veggie">
                    Veggies
                </div>
            </div>
        </div>
    </body>
</html>
